.postcard{
    display: inline-block;
    align-content: center;
    margin: 10px 0px 0px 112px;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.3);
}
.postcardd{
    display: inline-block;
    align-content: center;
    margin: 10px 0px 0px 40px;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.3);
}