*{
    box-sizing: border-box;
}

.vivid video{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 45rem;
    width: 500px;
    height: auto;
    top: -28rem;
    z-index: 1;
    box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.3);
}
  

@media only screen and (max-width: 600px) {
    /* For tablets: */
    .vivid video {
      float: right;
      position: relative;
      left: -2rem;
      top: -15rem;
      width: 400px;


      
      
      
    }
}